/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none; /* hides scrollbar */
}

/* Optional: maintain scroll functionality */
body {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  overflow-y: scroll;       /* keeps scrolling enabled */
}

.reveal {
     opacity: 0;
     transform: translateY(16px);
     transition: opacity .6s ease, transform .6s ease;
 }

 .reveal.revealed {
     opacity: 1;
     transform: translateY(0);
 }

 .gradient-text {
     background-image: linear-gradient(90deg, #22d3ee, #a855f7, #f43f5e);
     background-size: 200% 200%;
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     animation: shimmer 8s linear infinite;
 }

 .hover\:shadow-glow:hover {
     box-shadow:
         0 0 15px 2px rgba(255, 100, 150, 0.4),
         /* pinkish inner glow */
         0 0 30px 6px rgba(128, 0, 255, 0.25),
         /* purple mid glow */
         0 0 60px 12px rgba(255, 0, 255, 0.15);
     /* soft outer glow */
     transition: box-shadow 0.5s ease-in-out;
 }

 /* Gray glow on big card */
 .shadow-gray-glow {
     box-shadow: 0 0 15px 4px rgba(200, 200, 200, 0.2), 0 0 40px 8px rgba(200, 200, 200, 0.15);
     transition: box-shadow 0.5s ease-in-out, transform 0.3s ease-in-out;
 }

 .shadow-gray-glow:hover {
     box-shadow: 0 0 30px 6px rgba(200, 200, 200, 0.3), 0 0 60px 12px rgba(200, 200, 200, 0.25);
     transform: translateY(-2px) scale(1.01);
 }

 .hover\:shadow-glow-role:hover {
     box-shadow: 0 0 15px 4px rgba(200, 200, 200, 0.3), 0 0 40px 8px rgba(200, 200, 200, 0.2);
 }

.scroll-tag-list {
  width: 40rem;
  position: relative;
  overflow: hidden;
}

.scroll-inner {
  display: flex;
  gap: 1rem;
  width: fit-content;
  animation: loop 20s linear infinite;
}

.scroll-tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  box-shadow:  
     0 0.1rem 0.2rem #00000033,
     0 0.1rem 0.5rem #0000004d,
     0 0.2rem 1.5rem #00000066;
}

.scroll-tag span {
  font-size: 1.2rem;
  color: #64748b;
}

.scroll-fade {
  position: absolute;
  background: linear-gradient(90deg, #1e293b, transparent 10%, transparent 10%, #1e293b);
  inset: 0;
  pointer-events: none;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
 
@media only screen and (max-width: 11000px) {
.scroll-tag-list {
  width: 28rem;
}
}
@media only screen and (max-width: 800px) {
.scroll-tag-list {
  width: 25rem;
}
}
 
@media only screen and (max-width: 500px) {
.scroll-tag-list {
  width: 20rem;
}
}

@media only screen and (max-width: 400px) {
.scroll-tag-list {
  width: 19rem;
}
}
@media only screen and (max-width: 350px) {
.scroll-tag-list {
  width: 17rem;
}
}
